<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ee18f58a26.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/login.css">

    <!-- 파비콘 넣기 -->
    <link rel="icon" href="http://www.cnu-spg.com/img_beom/spg_logo3.png">

</head>
<body>
    <div class="container">
        <header>
            <span style="color:white">
                <i class="fas fa-book fa-2x"></i></span>
                <a href="#none" style="font-size:30px;color:white">BookMoa</a>
            </header>
        <section>
            <div class="login">
                <div class="login-type">
                    <h1>로그인</h1>
                    <a href="" class="btn">휴대폰 번호 로그인</a>
                    <span class="or-text">또는</span>
                    <a href="" class="btn">이메일로 로그인</a>
                    <a href="" class="btn">네이버로 로그인</a>
                    <a href="" class="btn">깃허브로 로그인</a>
                    <a href="" class="btn">페이스북으로 로그인</a>
                </div>
                <div class="login-footer">
                    
                    <input type="checkbox" id="chk"> <label for="chk">로그인상태유지</label>
                    <p>
                        <a href="#none">회원가입</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

</body>
</html>